<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Customer.Properties.Settings.CSharpCoffeeConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=CSharpCoffee;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>